.pulse{
	width: 8px;
	aspect-ratio: 1;
	background-color: #7ed957;
	border-radius: 50%;
	animation: pulse .8s infinite;
	margin-left: 10px;
	margin-right: 30px;
}

@keyframes pulse{
	0% {
			box-shadow: 0 0 0 4px #7ed957;
	}
	100% {
			box-shadow: 0 0 0 8px transparent;
	}
}
.red{
    background-color: rgb(255, 50, 50);
}
.green{
    background-color: rgb(0, 212, 0);
}